:root {
    --primary-clr: #1E2761;
    --secondary-clr: #408EC6;
    --tertiary-clr: #7A2048;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'roboto';
}

body {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

.add-btn-container {
    border: 2px dashed;
    text-align: center;
}

.add-btn-container>button {
    width: 100%;
    border: none;
    background: none;
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-clr);
}

dialog {
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    border: none;

}

input {
    margin: 0;
    padding: 0;
}

input[type=text] {
    width: 100%;
    height: 25px;
    font-size: 1rem;
    color: var(--primary-clr);
    border-radius: 5px;
    border: none;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    accent-color: var(--primary-clr);
}

form p:nth-child(4) {
    display: flex;
    justify-content: center;
    gap: 5px;
}

form p:nth-child(4)>label {
    align-self: center;
}

form label, form button {
    font-size: 1.2rem;
}

form>p:nth-child(4) {
    text-align: center;
}

form button {
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--secondary-clr);
    background-color: var(--primary-clr);
    border: none;
}

form button:hover {
    opacity: .5;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    background-color: var(--secondary-clr);
    margin-top: 20px;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 10px;
}

table {
    font-size: 1.3rem;
}

th {
    background-color: var(--primary-clr);
}

td {
    background-color: var(--tertiary-clr);
    color: var(--primary-clr);
    font-family: cursive;
}

.book-btns {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.book-btns button {
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    flex-grow: 1;
    border: none;
}

.book-btns button:hover {
    opacity: .5;
}

.book-btns button:first-child {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

.book-btns button:last-child {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
}